<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
		<link rel="stylesheet" href="/css/admin/admin.css">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    	<header>
    		<h1></h1>
    		<div class="wrap">
    			<ul>
    				<li>
    					<a href="/">HOME</a>
    				</li>
    				<li>
    					<dl>
    						<dt><a href="#">회원 관리</a></dt>
    						<dd><a href="#">권한 부여</a></dd>
    						<dd><a href="#">회원 삭제</a></dd>
    					</dl>
    				</li>
    				<li>
    					<dl>
    						<dt><a href="#">방문자 수</a></dt>
    						<dd><a href="#">그래프로 보기</a></dd>
    					</dl>
    				</li>
    				<li>
    					<dl>
    						<dt><a href="#">극장 관리</a></dt>
    						<dd><a href="#">극장 추가</a></dd>
    						<dd><a href="#">극장 삭제</a></dd>
    					</dl>
    				</li>
    			</ul>
    		</div>
    	</header>
    	<main id="main">
    	
    	</main>
		<footer id="footer">
		
    	</footer>
    </body>
</html>