<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
		<link rel="stylesheet" href="/css/admin/admin.css">
		<link rel="stylesheet" href="/css/common/common.css">
		<link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
    	<header>
    		<h1></h1>
    		<div class="wrap">
    			<ul>
    				<li>
    					<a href="/admin">Main</a>
    				</li>
    				<li>
    					<dl>
    						<dt>회원 관리</dt>
    						<dd><a href="/admin/authority">권한 부여</a></dd>
    						<dd><a href="#">회원 삭제</a></dd>
    					</dl>
    				</li>
    				<li>
    					<dl>
    						<dt>대시 보드</dt>
    						<dd><a href="#">방문자 수</a></dd>
    						<dd><a href="#">매출 액 </a></dd>
    					</dl>
    				</li>
    				<li>
    					<dl>
    						<dt>물품 관리</dt>
    						<dd><a href="#">물품 추가</a></dd>
    						<dd><a href="#">물품 삭제</a></dd>
    					</dl>
    				</li>
    			</ul>
    		</div>
    	</header>
    	<main id="main">
    		<div class="wrap">
    			<div class="list">
    				<table class="">
    					<tr>
    						<td>아이디</td>
    						<td>닉네임</td>
    						<td>이름</td>
    						<td>권한</td>
    						<td><button>부여</button></td>
    					</tr>
    					<tr>
    					
    					</tr>
    				</table>
    			</div>
    		</div>
    	</main>
		<footer id="footer">
		
    	</footer>
    </body>
</html>