<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(addHead, addMain)">
<head>
<meta charset="UTF-8">
<title>주문페이지</title>
<!-- 공통적용할 css, js를 삽입하세요 -->
<link rel="stylesheet" href="/css/common/common.css">
<link rel="stylesheet" type="text/css" href="/css/common/main/order.css">
<link rel="stylesheet" type="text/css" href="/css/common/footer.css">
</head>
<body>
	<div class="wrap">
		<div class="nognb">
			<div class="logo">
				<a id="header-logo" class="icon" href="/"> <img
					src="/images/header/foofa-logo.png">
				</a>
			</div>
		</div>
		<div class="body">
			<div class="mid">
				<div class="ordTitle">
					<h3 class="title">주문/결제</h3>
					<span class="steps"> 장바구니 > <em>주문결제 > </em>주문완료
					</span>
				</div>
				<div data-component="customer">
					<div class="customer-root">
						<h2 class="customer-h2">구매자정보</h2>
						<table class="customer-table">
							<tbody>
								<tr>
									<td class="customer--1">이름</td>
									<td class="customer--2">XXX</td>
								</tr>
								<tr>
									<td class="customer--1">이메일</td>
									<td class="customer--2">test@test.com</td>
								</tr>
								<tr>
									<td class="customer--1">휴대폰 번호</td>
									<td class="customer--2">010.0000.0000</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
				<h2 class="del-adr-head">
					받는 사람 정보
					<button class="del-adr-list-btn" type="button">배송지변경</button>
				</h2>
				<table class="del-adr">
					<tbody>
						<tr>
							<th class="del-adr-h">이름</th>
							<td class="del-adr-d del-adr-d-name">
								<span class="del-adr-name">박기태</span>
								<span class="del-adr-label">기본배송지</span>
							</td>
						</tr>
						<tr>
							<th class="del-adr-h">배송주소</th>
							<td class="del-adr-d">주소시 주소동 111호</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	
	
	<th:block th:insert="~{layout/footer :: footer}">footer태그가 삽입됩니다.</th:block>
</body>

</html>