<!DOCTYPE html>
<html>
<header>
	<h1>상단영역</h1>
		<div class="wrap view-size">
			<!-- ////////////////////////////로고&상단메뉴//////////////////////////// -->
			<section id="header" class="">
				<h1>로고&amp;상단메뉴</h1>
				<div>
					<!-- 로고&회원가입 -->
					<div class="header">
						<!-- 첫번째헤더 회원가입로그인고객센터 -->
						<div class="flex first-h">
							<a class="ghldnjsrkdlq">회원가입</a>
							<div class="bar"></div>
							<a class="fhrmdls">로그인</a>
							<div class="bar"></div>
							<div class="rhrortpsxj">
								<a>
									고객센터
									<span class="cs-triangle"></span>
								</a>
								<div class="cs-menu">
									<div>공지사항</div>
									<div>자주하는 질문</div>
									<div>1:1 문의</div>
									<div>대량주문 문의</div>
								</div>
							</div>
						</div>
						<!-- 두번째헤더 로고검색배송찜카트 -->
						<div class="second-h">
							<!-- 로고 -->
							<div class="second-h-xmf flex">
								<img alt="aaa" src="/images/foofa-logo.png" width="120px">
							</div>
							<!-- 검색창 -->
							<div class="rjatorxmf">
								<div class="flex rjator">
									<input type="text" placeholder="검색어를 입력해주세요">
									<button></button>
								</div>
							</div>
							<!-- 배송정보/찜/카트 -->
							<div class="icon-menuxmf">
								<div class="flex icon-menu">
									<div class=qothd>
										<img alt="qothd" width="25x" src="/images/location.png">
									</div>
									<button class="zzim">
										<img alt="zzim" width="25px" src="/images/love.png">
									</button>
									<div class="wkdqkrnsl">
										<button class="cart">
											<img alt="cart" width="25px" src="/images/shopping-cart.png">
										</button>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- 카테고리 -->
					<div></div>
				</div>
			</section>
		</div>
</header>
</html>