<!DOCTYPE html>
<html>
<header>
	<h1>상단영역</h1>
		<div class="wrap view-size">
			<!-- ////////////////////////////로고&상단메뉴//////////////////////////// -->
			<section id="header" class="wrap flex between">
				<h1>로고&amp;상단메뉴</h1>
				<div class="wrap flex">
					<section id="">
						<h1>로고</h1>
						<div class="wrap" id="logo">
							<img alt="aaa" src="/images/oalive-logo.png"
								width="60px" style="vertical-align: middle;"> <a href="#"></a>
						</div>
					</section>
					<section id="top-menu">
						<div class="wrap flex between">
							<ul class="flex">
								<li>
									<a href="#">관람하기</a>
								</li>
								<li>
									<a href="#">오뗌므 극장</a>
								</li>
							</ul>
						</div>
					</section>
				</div>
				<div class="wrap">
					<section id="login">
						<div class="wrap flex">
							<ul class="flex">
								<li>
									<img alt="aaa" src="/images/login-circle.png"
								width="80.76px" style="vertical-align: middle;">
								</li>
								</ul>
								<ul>
								<li>
									<a href="#">로그인</a>
								</li>
							</ul>
						</div>
					</section>
				</div>
			</section>
		</div>
</header>
</html>