<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:fragment="layout(addHead, addMain)">
<head>
<meta charset="UTF-8">
<title>쿵짝쿵짝</title>
<!-- 공통적용할 css, js를 삽입하세요 -->
<link rel="stylesheet" href="/css/common/common.css">
<link rel="stylesheet" type="text/css" href="/css/common/main/slick.css">
<link rel="stylesheet" type="text/css" href="/css/common/header.css">
<link rel="stylesheet" type="text/css" href="/css/common/footer.css">
<link rel="stylesheet" type="text/css" href="/css/common/main/common2.css">
<link rel="stylesheet" type="text/css" href="/css/common/main/slick-theme.css">
<link rel="stylesheet" type="text/css" href="/css/cart/cart.css">
<link rel="stylesheet" href="/css/goods/goods.css">
<link rel="stylesheet" href="/css/goods/list.css">	
<link rel="stylesheet" type="text/css" href="/css/goods/detail/goods.css">
<link rel="stylesheet" type="text/css" href="/css/goods/detail/goods-detail-bottom.css">
<link rel="stylesheet" href="/css/board/front.css">
</head>
<body>
	<th:block th:insert="~{layout/header :: header}">header태그로 삽입됩니다.</th:block>
	<th:block th:replace="${addMain}">메인태그로 대체됩니다.</th:block>
	<th:block th:insert="~{layout/footer :: footer}">footer태그가 삽입됩니다.</th:block>
</body>

</html>