<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/css/common/common.css">
	<link rel="stylesheet" type="text/css" href="/css/common/footer.css">
	<link rel="stylesheet" type="text/css" href="/css/common/header.css">
	<th:block th:insert="~{layout/header :: header}">header태그로 삽입됩니다.</th:block>
</head>
<body>
	<main>
		게시글작성
	</main>
</body>
	<th:block th:insert="~{layout/footer :: footer}">footer태그가 삽입됩니다.</th:block>
</html>