/* Slider */
body {
	background-color: white;
	display: block;
	margin: 0 50px;
	height: 100%;
}

.main {
	font-family: Arial;
	width: 100%;
	height: 100%;
	display: block;
	margin: 0 auto;
}

h3 {
	background: #fff;
	color: #3498db;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	text-align: center;
}

/* 슬라이드 1, 2 ,3 */
.main1 {
	position:relative;
	min-width:auto;
	
}


.prev1{
	position : absolute;
	width:40px;
	height :40px;
	opacity:30%;
	top:23%;
	left:5%;
	background-image:url('/image/icon/circle-chevron-left-solid.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}
.next1{
	position : absolute;
	width : 40px;
	height : 40px;
	opacity:30%;
	top:23%;
	right:5%;
	background-image:url('/image/icon/circle-chevron-right-solid.svg');
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
}

#main2 >.wrap>*{
	margin-top: 50px;
}
.title{
	font-size: 35px;
	font-weight: bold;
	color: black;
	text-align: center;
}
#today-slide>.wrap>.t-menu{
	margin-top: 20px;
	margin-bottom: 10px;
}
.center{
	justify-content: center;
}
#today-slide>.wrap .area{
	position: relative;
}
#today-slide>.wrap #display{
	overflow: hidden;
}
ol{
	list-style-type: decimal;
	margin-block-start:1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

#display>ol>li.goods-list{
	width: 290px;
	margin-right: 23px;
}
#display>ol>li>div.g-imgs>a {
    position: relative;
    display: block;
    width: 282px;
    height: 282px;
    background-image: url(/image/eaaec4d92602c4e52a02e9827322f566.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#display>.btn button{
	position: absolute;
	top:50%;
	width: 40px;
	height: 40px;
	border: 1px solid;
	border-radius:50%;
	background-repeat :no-repeat;
	background-size: 50%;
	background-position: center;
}

#display>.btn>.s-prev{
	background-image: url('/image/icon/angle-left-solid.svg');
	left: 15px;
}
#display>.btn>.s-next{
	background-image: url('/image/icon/angle-right-solid.svg');
	right: -25px;
}

.main3 {
	padding: 15px;
	position: relative;
	width: 90%;
	height: auto;
	margin: 0% 10% 10% 5%;
}



.l-side {
	position: relative;
	width: 50%;
	height: 50px;
	background-color: white;
}

.l-btn {
	position: relative;
	text-align: center;
}

