<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user-layout :: layout(~{this::head}, ~{this::main})">
<!-- th:replace="~{템플릿::fragment이름or아이디or태그}" -->
<head>
	<link rel="stylesheet" href="/css/common/common.css">
	<link rel="stylesheet" href="/css/goods/goods.css">
</head>
<main>
	<h1>메인</h1>
	<div class="detail wrap">
		<div class="right-banner">
			<div class="right-banner-content">
				<div class="right-banner-content1">
					<a href="#"></a>
				</div>
				<div class="right-banner-content2">
					<a href="#"></a>
					<a href="#"></a>
				</div>
				<div class="right-banner-content3">
					<button>
						<svg>
							<path></path>
						</svg>
					</button>
					최근 본 상품
					<div>
						<ul class="flex">
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
							<li>
								<a href="/goods/1"></a>
							</li>
						</ul>
					</div>
					<button>
						<svg>
							<path></path>
						</svg>
					</button>
				</div>
			</div>
		</div>
		<div class="main-detail">
			<div class="product-atf">
				<div class="goods-img"></div>
				<section> https://www.kurly.com/goods/5048236
					<div>새벽배송</div>
					<div></div>
					<h2></h2>
					<div></div>
					<div></div>
					<div></div>
				</section>
			</div>
			<nav></nav>
			<div></div>
		</div>
		<div class="bottom-line"></div>
		<span class="to-the-top"></span>
	</div>

</main>
</html>