@charset "UTF-8";

a{
	background-color: transparent;
    text-decoration: none;
    color: inherit;
}

body, button, input, select, textarea {
    font-size: 14px;
    color: #333;
}

.detail{
	font-size: 14px;
    color: #333;
	width: 100%;
    position: relative;
}

.right-banner{
	position: absolute;
    top: 70px;
    right: 20px;
    bottom: 0px;
}

.right-banner-content{
	position: sticky;
    top: 20vh;
    width: 80px;
    right: 20px;
    font-size: 12px;
    line-height: 16px;
    color: rgb(51, 51, 51);
    letter-spacing: -0.3px;
    z-index: 1;
}

.right-banner-content1{
	height: 120px;
    margin-bottom: 7px;
}

.right-banner-content2{
	width: 80px;
    border-width: 1px 1px 0px;
    border-top-style: solid;
    border-right-style: solid;
    border-left-style: solid;
    border-top-color: rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-left-color: rgb(221, 221, 221);
    border-image: initial;
    border-bottom-style: initial;
    border-bottom-color: initial;
    background-color: rgb(255, 255, 255);
}

.right-banner-content3{
	margin-top: 8px;
    border: 1px solid rgb(221, 221, 221);
    background-color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 500;
}

.right-banner-content3 button:first-child{
	cursor: default;
	width: 100%;
	border-radius: 0;
	font-size: 14px;
    color: #333;
    font: inherit;
}

.right-banner-content3>div{
	max-height: 209px;
    overflow: hidden;
    margin-top: 6px;
}

.right-banner-content3>div>ul{
	position: relative;
    top: 0px;
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    transition: top 0.2s ease 0s;
}

.right-banner-content3>div>ul>li>a{
	display: block;
    height: 80px;
    margin: 2px 0px;
}
	
.right-banner-content3 button:last-child{
	width: 100%;
	cursor: pointer;
}
	
.main-detail{
	position: relative;
    width: 1050px;
    margin: 0px auto;
    padding-top: 30px;
}

.product-atf{
	display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.goods-img{
	width: 430px;
    height: 552px;
    background: url(/) 0% 0% / cover, url() 50% 50% / contain no-repeat rgb(245, 245, 245);
}

.product-atf>section{
	width: 560px;
	display: block;
}

.product-atf>section>div:nth-of-type(1){
	font-weight: 500;
    line-height: 1.36;
    letter-spacing: -0.5px;
    color: #999;
    margin-bottom: 6px;
    width: 500px;
}

.goods-title{
	flex-direction: column;
}

.goods-title>div{
	flex: 1;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

.goods-title>div>h1{
	width: 500px;
    font-weight: 500;
    font-size: 24px;
    color: #333;
    line-height: 34px;
    letter-spacing: -0.5px;
    word-break: keep-all;
    margin-right: 20px;
    position: relative;
    left: 0px;
}

.goods-title>div>button{
	width: 40px;
    height: 40px;
    background: url(/images/goods/detail/share.png) no-repeat 50% 50%;
    background-size: 40px;
}

.goods-title>h2{
	padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    color: #b5b5b5;
    line-height: 19px;
    letter-spacing: -0.5px;
}

.product-atf section>h2{
	flex-direction: row;
	align-items: flex-end;
    padding-top: 19px;
    font-weight: bold;
    line-height: 30px;
    letter-spacing: -0.5px;
}

.product-atf section>h2 span:first-child{
	padding-right: 4px;
    font-size: 28px;
    color: #333;
}

.product-atf section>h2 span:last-child{
	display: inline-block;
    position: relative;
    top: 3px;
    font-size: 18px;
    color: #333;
    vertical-align: top;
}

.product-atf>section>div:nth-of-type(3){
	font-size: 14px;
    color: #5f0080;
    line-height: 19px;
    height: 19px;
    letter-spacing: -0.5px;
    margin-top: 14px;
}

.product-atf>section>div:nth-of-type(4){
	margin-top: 20px;
}

.product-atf>section>div:nth-of-type(4) dl{
	display: flex;
	flex-direction: row;
	align-items: flex-start;
    overflow: hidden;
    width: 100%;
    padding: 17px 0 18px;
    border-top: 1px solid #f4f4f4;
    font-size: 14px;
    letter-spacing: -0.5px;
}

.product-atf>section>div:nth-of-type(4) dl dt{
	position: relative;
    top: 1px;
    width: 128px;
    height: 100%;
    color: #666;
    line-height: 19px;
}

.product-atf>section>div:nth-of-type(4) dl dd{
	display: flex;
	flex: 1;
	flex-direction: column;
}

.product-atf>section>div:nth-of-type(4) dl dd>p:first-child{
	color: #333;
    line-height: 19px;
    white-space: pre-line;
    word-break: break-all;
    overflow: hidden;
}

.prouct-atf>section>div:nth-of-type(4) dl dd>p{
	display: block;
    font-size: 12px;
    color: #666;
    padding-top: 4px;
    line-height: 16px;
    white-space: pre-line;
}

.product-atf>section>div:nth-of-type(5){
	padding-bottom: 40px;
}

.bottom-line{
	position: fixed;
    z-index: 20;
    left: 0px;
    bottom: 0px;
    width: 100%;
    min-height: 20px;
    background-color: rgb(255, 255, 255);
    border-top: 2px solid rgb(95, 0, 128);
}

.to-the-top{
	position: fixed;
    z-index: 10;
    right: 31px;
    width: 58px;
    height: 58px;
    transition: opacity 0.5s ease 0s;
    bottom: 25px;
    opacity: 1;
}