/* Slider */
body {
	background-color: gray;}
	
	
.main {
	font-family: Arial;
	width: 1500px;
	height: 50%;
	display: block;
	margin: 0 auto;
}

h3 {
	background: #fff;
	color: #3498db;
	font-size: 36px;
	line-height: 100px;
	margin: 10px;
	padding: 2%;
	position: relative;
	text-align: center;
}

.action {
	display: block;
	margin: 100px auto;
	width: 100%;
	text-align: center;
}

.action a {
	display: inline-block;
	padding: 5px 10px;
	background: #f30;
	color: #fff;
	text-decoration: none;
}

.action a:hover {
	background: #000;
}

/* 버튼위치 */
.main2 {
	width: 100%;
	border: 1px solid #000;
}

.main3 {
	width: 100%;
	border: 1px solid #000;
}

.indicator {
	top : 250px;
	position : relative;
	width: 10%;
	float: left;
	box-sizing: border-box;
	
}

div.visual {
	width: 80%;
	float: right;
	box-sizing: border-box;
	
}

.indicator2 {
	top : 250px;
	position: relative;
	width: 10%;
	float: right;
	box-sizing: border-box;

}

.visual2 {
	width: 80%;
	float: left;
	box-sizing: content-box;
	
}

.l-icon{
	
	position : absolute;
	top:95%;
	text-align: center;
}
.move{
	text-align: center;
}

