<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user-layout :: layout(~{this::head}, ~{this::main})">
<!-- th:replace="~{템플릿::fragment이름or아이디or태그}" -->
<head>
</head>
<main>
	<h1>메인</h1>
	<div class="wrap">
		<div class="main1">
			<ul>
				<li href="/">
					<img src="/image/main00.jpg" style="width: 100vw;height: auto; max-height:450px; object-fit: cover;">
				</li>
			</ul>
			<ul>
				<li href="/"> 
					<img src="/image/main01.jpg" style="width: 100vw;height: auto; max-height:450px; object-fit: cover;">
				</li>
			</ul>
			<ul>
				<li href="/"> 
					<img src="/image/main02.jpg" style="width: 100vw;height: auto; max-height:450px; object-fit: cover;">
				</li>
			</ul>
		</div>
		<div>
			<div id="m1-btn">
				<button class="prev1"></button>
			</div>
			<div>
				<button class="next1"></button>
			</div>
		</div>
		<div class="popup">
			<p>/////////////////////////////////팝업///////////////////////////////</p>
		</div>
	</div>
	
	<section id="main2">
		<h1>2번째슬라이드</h1>
		<div class="wrap view-size">
			<section id="today-slide">
				<div class="wrap">
					<p class="title">오늘의 특가</p>
					<ul class="t-menu flex center">
						<li class="target" value="1">종류1</li>
						<li value="2">종류2</li>
						<li value="3">종류3</li>
					</ul>
					<div class="area">
						<div id="display">
							<ol class="goods-list-wrap flex">
								<li class="goods-list" th:each="num : ${#numbers.sequence(1,15)}">
									<div class="g-imgs">
										<a href="#">
											[[${num}]]
											<span>
												<em>
													<strong>1</strong>
													<strong>1</strong>
													<strong>1</strong>
												</em>
												<em>재고수량 : xxEA</em>
											</span>
										</a>
									</div>
									<div class="goods-info">
										<ul>
											<li>
												<span class="delivery-shop">쇼핑몰 배송</span>
												<span class="delivery-lowest">최저가 보상</span>
											</li>
											<li class="goods-name">[[${list}]]_[[${num}]]</li>
											<li class="goods-price">
												<span class="sale-rate">38%</span>
												<span class="buying-price">9,200</span>원
												<span class="selling-price">14,900</span>원
											</li>
											<li class="star-point">5.0(7)</li>
										</ul>
									</div>
								</li>
							</ol>
							<script type="text/javascript">
								var lis=$(".goods-list");
								var ea=4;
								var moveLength=(290+24);
								var tot=lis.length;
								var rigthEa= tot-ea;
								var leftEa=0;
								var position=0;
								
								function moveSaleGoods(){
									ea=4;
									if(rightEa <= ea){//남은개수가 4개이하 마직막이동
										ea=rightEa;
										$(".s-next").hide();
									}
									position = position+(moveLength*ea*1);
									$(".goods-list-wrap").animate({marginLeft: -position}, 1000);
									
									leftEa=leftEa+ea//왼쪽의 이미지개수
									rightEa=rightEa-ea;
									if(leftEa>0){
										$(".s-prev").show();
									}
								}
	
								function pervSaleGoods(){
									ea=4;
									if(leftEa<=ea){
										ea=leftEa;
										$(".s-prev").hide();
									}
									position = position+(moveLength*ea*-1);
									$(".goods-list-wrap").animate({marginLeft: -position}, 1000);
	
									leftEa=leftEa-ea//왼쪽의 이미지개수
									rightEa=rightEa+ea;
									if(leftEa>0){
										$(".s-next").show();
									}
								}
							</script>
							<div class="btn">
								<button class="s-prev" onclick="prevSgoods()"></button>
								<button class="s-next" onclick="nextSgoods()"></button>
							</div>
						</div>
					</div>
				</div>			
			</section>
		</div>
	</section>
	
	
	<div class="wrap">
		<section>
			3번째 슬라이드
			<h1>3번슬라이드</h1>
			<div class="main3">
			텍스트 링크
				<div class="visual2">			
					<div>1
						<img src="/image/eaaec4d92602c4e52a02e9827322f566.jpg" style="width: 350px; height: 370px;">
					</div>
					<div>2
						<img src="/image/eaaec4d92602c4e52a02e9827322f566.jpg" style="width: 350px; height: 370px;">
					</div>
					<div>3
						<img src="/image/eaaec4d92602c4e52a02e9827322f566.jpg" style="width: 350px; height: 370px;">
					</div>
					<div>4
						<img src="/image/eaaec4d92602c4e52a02e9827322f566.jpg" style="width: 350px; height: 370px;">
					</div>
					<div>5
						<img src="/image/eaaec4d92602c4e52a02e9827322f566.jpg" style="width: 350px; height: 370px;">
					</div>
				</div>	
			</div>
			<div class="indicator2">
				<button class="prevArrow2">이전</button>
				<button class="nextArrow2">다음</button>
			</div>
			
			
		</section>
	</div>



	<script src="https://code.jquery.com/jquery-2.2.0.min.js"
		type="text/javascript"></script>
	<script src="/css/common/main/slick.js" type="text/javascript"
		charset="utf-8"></script>
	<script type="text/javascript">
		$('.main1').slick({
			dots : false,
			infinite : true,
			speed : 300,
			slidesToShow : 1,
			autoplay : true,
			autoplaySpeed : 2000,
			adaptiveHeight : true,
			prevArrow : $('.prev1'),
			nextArrow : $('.next1'),
		});

		$('.visual2').slick({
			dots : false,
			infinite : true,
			speed : 300,
			slidesToShow : 4,
			slidesToScroll : 1,
			autoplay : true,
			autoplaySpeed : 1000,
			// 지정한 클래스에 맞게 값을 지정한다.
			prevArrow : $('.prevArrow2'),
			nextArrow : $('.nextArrow2'),
		});
		
		

		
		
	</script>
</main>



</html>