<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	th:replace="layout/user-layout :: layout(~{this::head}, ~{this::main})">
<!-- th:replace="~{템플릿::fragment이름or아이디or태그}" -->
<head>
</head>
<body>
	<main>
		<div class="one-time">
			<div>
				<a href="/">
					<img style="
						background:url('/image/main00.jpg');
						background-size: 100% 500px;
						width: 100%; height: 500px; object-fit: cover;">
				</a>
				<p class="move">
					<a href="/" class="l-icon">링크링크링크</a>
					글확인내용확인
				</p>
			</div>
			<div>
				<a href="/">
					<img style="
						background:url('/image/main01.jpg');
						background-size: 100% 500px;
						width: 100%; height: 500px; object-fit: cover;">
				</a>
				<p class="move">
					<a href="/" class="l-icon">링크링크링크</a>
					글내용2
				</p>
			</div>
			<div>
				<a href="/">
					<img style="
						background:url('/image/main02.jpg');
						background-size: 100% 500px;
						width: 100%; height: 500px; object-fit: cover;">
				</a>
				<p class="move">
					<a href="/" class="l-icon">링크</a>
					내용확인
				</p>
			</div>		
		</div>
		<div class="main2">
			<!-- 태그 정의 후  임의의 클래스를 지정한다.-->
			
			<div class="visual">
				<div>
					<img alt="no image" src="image/eaaec4d92602c4e52a02e9827322f566.jpg" style="width: 200px; height: 300px;">
				</div>
				<div>
					<h3>2</h3>
				</div>
				<div>
					<h3>3</h3>
				</div>
				<div>
					<h3>4</h3>
				</div>
				<div>
					<h3>5</h3>
				</div>
			</div>
			<div class="indicator">
				<span class="prevArrow">이전</span>
				<span class="nextArrow">다음</span>
			</div>
		</div>
		<div class="main3">
			<!-- 태그 정의 후  임의의 클래스를 지정한다.-->
			<div class="visual2">
				<div>
					<h3>1</h3>
				</div>
				<div>
					<h3>2</h3>
				</div>
				<div>
					<h3>3</h3>
				</div>
				<div>
					<h3>4</h3>
				</div>
				<div>
					<h3>5</h3>
				</div>
			</div>
			<div class="indicator2">
				<span class="prevArrow2">이전</span>
				<span class="nextArrow2">다음</span>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-2.2.0.min.js"
			type="text/javascript"></script>
		<script src="/css/common/slick.js" type="text/javascript"
			charset="utf-8"></script>
		<script type="text/javascript">

			$('.one-time').slick({
				  dots: false,
				  infinite: true,
				  speed: 300,
				  slidesToShow: 1,
				  autoplay : true,
				  autoplaySpeed : 2000,
				  adaptiveHeight: true,
				});
			
			$('.visual').slick({
				dots: false,
				infinite: true,
				speed: 300,
				slidesToShow: 4,
				slidesToScroll: 1, 
				autoplay : true,
				autoplaySpeed : 1000,
				// 지정한 클래스에 맞게 값을 지정한다.
				prevArrow : $('.prevArrow'),
				nextArrow : $('.nextArrow'),
			});

			$('.visual2').slick({
				dots: false,
				infinite: true,
				speed: 300,
				slidesToShow: 4,
				slidesToScroll: 1, 
				autoplay : true,
				autoplaySpeed : 1000,
				// 지정한 클래스에 맞게 값을 지정한다.
				prevArrow : $('.prevArrow2'),
				nextArrow : $('.nextArrow2'),
			});
		</script>

	</main>
</body>


</html>